
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    height:100vh;
  }
  .NavBar{
   
  }
  .float{
    float:left;
    width:50%;
  }
  ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  nav{
      width:100%;
      height:52px;
      background-color:#996633;

  }
  div{
      /*width:50%;*/
     float:right; 
     display:inline-block;
  }
  li{
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding:0 50;
    border: 1px solid #555;
    background-color:#996633;
    
    
}
a:link {
   
    float:right;
    text-decoration: none;
  }

  li:hover{
     background-color: #d79451;
  }
  .links{
      
      color:black;
  }
  #navLink{
      /*width:50%;*/
    text-align: right;
    display: inline-block;
  }
  
  a{
    text-align: center;
    margin:0 10px;
    text-decoration: none;
    
  }
  /* this is a super cool method*/
  li a:hover {
    background-color: rgba #555;
    color: white;
    display: block;
     /*padding: 8px 16px; note: this can make the link button change size if you hover it, 
     for now I have decided to leave it out for now. */
  }
    
    li a {
    display: block;
    width: 70px;
    
  }
  a:link {
    text-decoration: none;
  }

  /* hero image section*/
  .hero{
      height:223px;
      width:100%;
      color:white;
      background-color: black;
     

  }
  /* this is is the styling for the columns*/
  .column{ 
      
      float:left;
      width:33.33%;
      height:341px;
      padding:10px;
      border-bottom:solid black 2px;
      border-left: solid black 2px;
      

  }
  .row{
      width:100%;
  }
  /* clear floats after the columns*/
  .row:after{
    
      content:"";
      display: table;
      clear:both;
}
.social{
    width:100%;
    height:100px;
    background-color:#d1e0e0;
}
.footer{
    width:100%;
    height:150px;
    background-color: #996633;
}
